<div class="row">
  <div class="col-md-6">
    <a routerLink="/" href="#" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left">Back to Dashboard</i>
    </a>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="card">
  <h3 class="card-header">
  Edit Settings
  </h3>
  <div class="card-body">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label>Allow Registration</label>
        <input type="checkbox" name="allowRegistration" [checked]="settings.allowregistration" (change)="settings.allowregistration =!settings.allowregistration">
      </div>

      <div class="form-group">
        <label>Disable Balance on Add</label>
        <input type="checkbox" name="disableBalanceAddOn" [checked]="settings.disableBalanceAddOn" (change)="settings.disableBalanceAddOn =!settings.disableBalanceAddOn">
      </div>

      <div class="form-group">
        <label>Disable Balance on Edit</label>
        <input type="checkbox" name="disableBalanceEditOn" [checked]="settings.disableBalanceEditOn" (change)="settings.disableBalanceEditOn =!settings.disableBalanceEditOn">
      </div>
      <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
  </div>
</div>
