<div class="row">
  <div class="col-md-6">
    <a routerLink="/" href="#" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard
    </a>
  </div>
  <div class="col-md-6"></div>
</div>
<div class="card">
  <div class="card-header">
    Edit Client
  </div>
  <div class="card-body">
    <form novalidate #f="ngForm" (ngSubmit)=  "onSubmit(f)">
      <div class="from-group">
        <label for= "firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid':clientFirstName.errors?.required && clientFirstName.touched || clientFirstName.errors?.minlength}"
          [(ngModel)]="client.firstName"
          name="firstName"
          #clientFirstName="ngModel"
          minlength="2" required>


        <div *ngIf="clientFirstName.errors?.required && clientFirstName.touched" class="invalid-feedback"> First Name is required </div>
        <div *ngIf="clientFirstName.errors?.minlength && clientFirstName.touched" class="invalid-feedback"> Must be least 2 charater</div>
      </div>

      <div class="from-group">
        <label for= "lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid':clientLastName.errors?.required && clientLastName.touched || clientLastName.errors?.minlength}"
          [(ngModel)]="client.lastName"
          name="lastName"
          #clientLastName="ngModel"
          minlength="2" required>


        <div *ngIf="clientLastName.errors?.required && clientLastName.touched" class="invalid-feedback"> Last Name is required </div>
        <div *ngIf="clientLastName.errors?.minlength && clientLastName.touched" class="invalid-feedback"> Must be least 2 charater</div>
      </div>


      <div class="from-group">
        <label for= "email">Email</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid':clientEmail.errors?.required && clientEmail.touched || clientEmail.errors?.pattern}"
          [(ngModel)]="client.email"
          name="email"
          #clientEmail="ngModel"
          required
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">


        <div *ngIf="clientEmail.errors?.required && clientEmail.touched" class="invalid-feedback"> First Name is required </div>
        <div *ngIf="clientEmail.errors?.pattern && clientEmail.touched" class="invalid-feedback"> Enter a valid Email</div>
      </div>


      <div class="from-group">
        <label for= "phone">Phone Number</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid':clientPhone.errors?.required && clientPhone.touched || clientPhone.errors?.minlength}"
          [(ngModel)]="client.phone"
          name="phone"
          #clientPhone="ngModel"
          minlength="10" required>


        <div *ngIf="clientPhone.errors?.required && clientPhone.touched" class="invalid-feedback"> Phone Number is required </div>
        <div *ngIf="clientPhone.errors?.minlength && clientPhone.touched" class="invalid-feedback"> phone is not valid number</div>
      </div>

      <div class="from-group">
        <label for= "balance">Balance Amount</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="client.balance"
          name="balance"
          #clientBalance="ngModel"
          [disabled]="disableBalanceEditOn"
        >
      </div>
      <br>
      <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
  </div>
</div>



